<link rel="stylesheet" href="../css/initialize.css">
<link rel="stylesheet" href="../css/publicStyle.css">

<div class="top-tab menu background-color-f4Cf0a">
    <div class="top-left-info">
        <a class="home top-tab-item display-flex-center" onclick="top.location.href='../index.html'">HOME</a>
        <a class="profile top-tab-item display-flex-center" onclick="top.location.href='../profile.html'">PROFILE</a>
        <a class="library top-tab-item display-flex-center" onclick="top.location.href='../library.html'">LIBRARY</a>
        <a class="events top-tab-item display-flex-center" onclick="top.location.href='../events.html'">EVENTS</a>
    </div>
    <div class="top-right-info display-flex-center">
        <a onclick="top.location.href='../login.html'" class="loginBut">SIGN IN/ UP</a>
    </div>
</div>

<script>

</script>
