@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
        box-sizing: border-box;
}

body {
    font-size: 14px;
}

.Login_style {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.top_style {  
    width: 100%; 
    height: 21px;
    background: rgba(18, 158, 6, 1);

}


.background_style {
    width: 100%;
    height: 100%;
    background: rgba(18, 158, 6, 1);
    position: absolute;
    top: 134px;
}

.email {
    width: 430px;
    height: 59px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 522px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.password {
    width: 430px;
    height: 59px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 551px;
    left: 522px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.button_style {
    width: 146px;
    height: 59px;
    background: rgba(48, 69, 255, 1);
    opacity: 1;
    position: absolute;
    top: 629px;
    left: 806px;
    border-radius: 100px;
}

.word_style {
    width: 160px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 561px;
    left: 362px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 30px;
    text-align: center;
}

.email_style {
    width: 337px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 483px;
    left: 213px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.lastname {
    width: 430px;
    height: 59px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 309px;
    left: 522px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.occupation {
    width: 430px;
    height: 59px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 387px;
    left: 522px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.occupation_style {
    width: 212px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 400px;
    left: 300px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: right;
}

.lastname_style {
    width: 212px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 321px;
    left: 300px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: right;
}

.firstName {
    width: 430px;
    height: 59px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 231px;
    left: 522px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.firstname_style {
    width: 337px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 241px;
    left: 175px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: right;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.sign_up {
    width: 403px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 57px;
    left: 522px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: center;
}

.continue {
    width: 146px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 643px;
    left: 806px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.figure_one {
    width: 378px;
    height: 522px;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 278px;
    left: 1043px;
    overflow: hidden;
}

.figure_two {
    width: 251px;
    height: 283px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 66px;
    overflow: hidden;
}

.figure_three {
    width: 252px;
    height: 250px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 117px;
    left: 66px;
    border-radius: 50%;
}

.figure_four {
    width: 89px;
    height: 83px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 211px;
    left: 147px;
    border-radius: 50%;
}

.figure_five {
    width: 95px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 211px;
    left: 144px;
    overflow: hidden;
}

.figure_six {
    width: 95px;
    height: 44px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.stomachLogin {
    width: 112px;
    height: 155px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 366px;
    left: 140px;
    transform: rotate(-180deg);
    overflow: hidden;
}

.figure_seven {
    width: 112px;
    height: 93px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 1px;
    transform: rotate(-180deg);
    overflow: hidden;
}

.stomachLoginTop {
    width: 112px;
    height: 93px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-180deg);
    overflow: hidden;
}


.figure_eight {
    width: 112px;
    height: 126px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 50%;
    transform: rotate(-180deg);
}


.figure_eye_one {
    width: 39px;
    height: 38px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 128px;
    border-radius: 50%;
}

.figure_eye_two {
    width: 39px;
    height: 38px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 217px;
    border-radius: 50%;
}

.figure_arm {
    width: 39px;
    height: 109px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 336px;
    left: 35px;
    border-radius: 100px;
    transform: rotate(-59deg);
    overflow: hidden;
}

.rightHandLogin {
    width: 39px;
    height: 109px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 336px;
    left: 305px;
    border-radius: 120px;
    transform: rotate(-120deg);
    overflow: hidden;
}

.squre_style {
    width: 239px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 69px;
    overflow: hidden;
}

.figure_nine {
    width: 239px;
    height: 80px;
    background: rgba(255, 48, 48, 1);
    padding: 20px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    overflow: hidden;
}

.sentense_style {
    width: 219px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 23px;
    left: 10px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.yes {
    width: 375px;
    height: 65px;
    background: rgba(255, 255, 255, 1);
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 456px;
    left: 764px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.word_size {
    width: 355px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.no {
    width: 381px;
    height: 65px;
    background: rgba(255, 255, 255, 1);
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 580px;
    left: 764px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.loginComLogo {

    height: 100px;
    width: 300px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 25px;
    left: 1180px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
}

.image_one {
    width: 555px;
    height: 567px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 276px;
    left: 67px;
    overflow: hidden;
}

.image_two {
    width: 352px;
    height: 397px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 92px;
    overflow: hidden;
}

.image_three {
    width: 353px;
    height: 350px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 92px;
    border-radius: 50%;
}

.image_four {
    width: 125px;
    height: 116px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 132px;
    left: 206px;
    border-radius: 50%;
}

.image_five {
    width: 133px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 132px;
    left: 202px;
    overflow: hidden;
}

.image_six {
    width: 133px;
    height: 62px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.stomachComplete {
    width: 157px;
    height: 217px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 350px;
    left: 200px;
    transform: rotate(-180deg);
    overflow: hidden;
}

.image_seven {
    width: 157px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 1px;
    transform: rotate(-180deg);
    overflow: hidden;
}

.image_eight {
    width: 157px;
    height: 130px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-180deg);
    overflow: hidden;
}

.image_nine {
    width: 157px;
    height: 176px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 50%;
    transform: rotate(-180deg);
}

.image_eye_one {
    width: 55px;
    height: 54px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 178px;
    border-radius: 50%;
}

.image_eye_two {
    width: 55px;
    height: 54px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 304px;
    border-radius: 50%;
}

.leftHandCom {
    width: 54px;
    height: 153px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 325px;
    left: 47px;
    border-radius: 100px;
    transform: rotate(-120deg);
    overflow: hidden;
}

.rightHandCom {
    width: 54px;
    height: 153px;
    background: rgba(244, 206, 9, 1);
    opacity: 1;
    position: absolute;
    top: 251px;
    left: 450px;
    border-radius: 100px;
    transform: rotate(-120deg);
    overflow: hidden;
}

.question_style {
    width: 687px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 234px;
    left: 517px;
    overflow: hidden;
}

.rectangle {
    width: 687px;
    height: 140px;
    background: rgba(255, 48, 48, 1);
    padding: 20px 20px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 24px;
    overflow: hidden;
}

.sentense_font {
    width: 627px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}