body {
	font-size: 14px;
}

.mainLogo {

	top: 200px;
	left: 510px;
	position: absolute;
}

.main_screen {
	width: 100%;
	height: 2278px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.lib_event {
	width: 100%;
	height: 899px;
	opacity: 1;
	position: absolute;
	top: 1256px;
	left: 7px;
	overflow: hidden;
}

.lib_switch {
	width: 240px;
	height: 78px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 329px;
	overflow: hidden;
}

.libMain {
	width: 240px;
	height: 78px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	overflow: hidden;
}

.libBot {
	width: 239px;
	height: 39px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 39px;
	left: 1px;
	overflow: hidden;
}

.lib_text {
	width: 97px;
	color: rgba(244, 206, 9, 1);
	position: absolute;
	top: 15px;
	left: 72px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;
}

.art_event {
	width: 100%;
	height: 899px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.art_part {
	width: 100%;
	height: 820px;
	opacity: 1;
	position: absolute;
	top: 78px;
	left: 0px;
	overflow: hidden;
}

.art_inside {
	width: 100%;
	height: 820px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.art_switch {
	width: 240px;
	height: 78px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 44px;
	overflow: hidden;
}

.artColMain {
	width: 240px;
	height: 78px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	overflow: hidden;
}

.artColBot {
	width: 239px;
	height: 39px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 39px;
	left: 1px;
	overflow: hidden;
}

.art_text {
	width: 179px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 15px;
	left: 29px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;
}

.hot_event {
	width: 100%;
	height: 540px;
	opacity: 1;
	position: absolute;
	top: 618px;
	left: 27px;
	overflow: hidden;
}

.hotEvent_div {
	width: 100%;
	height: 540px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.event_button {
	width: 149px;
	height: 22px;
	opacity: 1;
	position: absolute;
	top: 480px;
	left: 668px;
	overflow: hidden;
}

.event_button_1 {
	width: 10px;
	height: 22px;

	opacity: 1;
	position: absolute;
	top: 0px;
	left: 35px;
	border: 4px solid rgba(0, 0, 0, 1);
}

.event_button_2 {
	width: 10px;
	height: 22px;

	opacity: 1;
	position: absolute;
	top: 0px;
	left: 70px;
	border: 4px solid rgba(0, 0, 0, 1);
}

.event_button_3 {
	width: 10px;
	height: 22px;

	opacity: 1;
	position: absolute;
	top: 0px;
	left: 104px;
	border: 4px solid rgba(0, 0, 0, 1);
}

.event_button_4 {
	width: 10px;
	height: 22px;

	opacity: 1;
	position: absolute;
	top: 0px;
	left: 139px;
	border: 4px solid rgba(0, 0, 0, 1);
}

.event_button_5 {
	width: 10px;
	height: 22px;

	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 4px solid rgba(0, 0, 0, 1);
}

.event_gallary {
	width: 100%;
	height: 344px;
	opacity: 1;
	position: absolute;
	top: 106px;
	left: 21px;
	overflow: hidden;
}

.event_gallary_prop {
	width: 100%;
	height: 344px;
	background: rgba(25, 25, 25, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.hot_text {
	width: 307px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 32px;
	left: 578px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 48px;
	opacity: 1;
	text-align: center;
}

.event_images {
	width: 100%;
	height: 242px;
	opacity: 1;
	position: absolute;
	top: 157px;
	left: 37px;
	overflow: hidden;
}

.event_images_1 {
	width: 253px;
	height: 240px;
	background: rgb(255, 255, 255);
	opacity: 1;
	position: absolute;
	top: 2px;
	left: 878px;
	overflow: hidden;
}

.event_images_2 {
	width: 253px;
	height: 240px;
	background: rgb(255, 255, 255);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 1170px;
	overflow: hidden;
}

.event_images_3 {
	width: 253px;
	height: 240px;
	background: rgb(255, 255, 255);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 585px;
	overflow: hidden;
}

.event_images_4 {
	width: 253px;
	height: 240px;
	background: rgb(255, 255, 255);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 293px;
	overflow: hidden;
}

.event_images_5 {
	width: 253px;
	height: 240px;
	background: rgb(255, 255, 255);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.game_entrance {
	width: 800px;
	height: 136px;
	opacity: 1;
	position: absolute;
	top: 515px;
	left: 416px;
	overflow: hidden;
}

.cartoon_entrance {
	width: 200px;
	height: 136px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 540px;
	overflow: hidden;
}

.cartoon_body {
	width: 67px;
	height: 136px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 50px;
	overflow: hidden;
}

.cartoon_legs {
	width: 42px;
	height: 42px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 73px;
	left: 11px;
	border-radius: 50%;
}

.cartoon_mid {
	width: 42px;
	height: 72px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 11px;
	overflow: hidden;
}

.cartoon_head {
	width: 42px;
	height: 42px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 11px;
	border-radius: 50%;
}

.cartoon_face {
	width: 15px;
	height: 14px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 16px;
	left: 25px;
	border-radius: 50%;
}

.cartoon_mouse {
	width: 16px;
	height: 7px;

	opacity: 1;
	position: absolute;
	top: 16px;
	left: 24px;
	overflow: hidden;
}

.face {
	width: 16px;
	height: 7px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.stomach {
	width: 19px;
	height: 50px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 44px;
	left: 23px;
	overflow: hidden;
}

.stoA {
	width: 19px;
	height: 41px;

	opacity: 1;
	position: absolute;
	top: 9px;
	left: 0px;
	overflow: hidden;
}

.stoB {
	width: 19px;
	height: 18px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 22px;
	left: 0px;
	border-radius: 50%;
}

.stoC {
	width: 19px;
	height: 31px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.stoD {
	width: 19px;
	height: 18px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
}

.leftEye {
	width: 6px;
	height: 6px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 13px;
	left: 21px;
	border-radius: 50%;
}

.rightEye {
	width: 6px;
	height: 6px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 13px;
	left: 37px;
	border-radius: 50%;
}


.leftHand {
	width: 6px;
	height: 18px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 34px;
	left: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	transform: rotate(-44deg);
	overflow: hidden;
}

.rightHand {
	width: 6px;
	height: 18px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 49px;
	left: 54px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
}

.entraBack {
	width: 513px;
	height: 85px;
	background: rgba(255, 48, 48, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 80px;
	border-top-left-radius: 42px;
	border-top-right-radius: 42px;
	border-bottom-left-radius: 42px;
	border-bottom-right-radius: 42px;
	overflow: hidden;
}

.entraText {
	width: 564px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 14px;
	left: 65px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 30px;
	opacity: 1;
	text-align: center;
}

.loDes {
	width: 568px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 424px;
	left: 570px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;

}

.menu {
	width: 100%;
	height: 108px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.menu_back {
	width: 100%;
	height: 104px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.menu_switch {
	width: 644px;
	height: 66px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 41px;
	left: 32px;
	overflow: hidden;
}

.home_switch {
	width: 152px;
	height: 65px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 1px;
	left: 0px;
	overflow: hidden;
}

.homw_switch_head {
	width: 152px;
	height: 62px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	overflow: hidden;
}

.homw_switch_bot {
	width: 152px;
	height: 31px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 32px;
	left: 1px;
	overflow: hidden;
}

.homw_switch_text {
	width: 77px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 15px;
	left: 38px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;
}

.profile_switch {
	width: 152px;
	height: 65px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 1px;
	left: 164px;
	overflow: hidden;
}

.profile_switch_head {
	width: 152px;
	height: 62px;
	background: rgba(48, 69, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	overflow: hidden;
}

.profile_switch_bot {
	width: 152px;
	height: 31px;
	background: rgba(48, 69, 255, 1);
	opacity: 1;
	position: absolute;
	top: 31px;
	left: 1px;
	overflow: hidden;
}

.profile_switch_text {
	width: 97px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 15px;
	left: 28px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;
}

.library_switch {
	width: 152px;
	height: 65px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 328px;
	overflow: hidden;
}



.library_switch_head {
	width: 152px;
	height: 62px;
	background: rgba(18, 158, 6, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	overflow: hidden;
}

.library_switch_bot {
	width: 152px;
	height: 31px;
	background: rgba(18, 158, 6, 1);
	opacity: 1;
	position: absolute;
	top: 31px;
	left: 1px;
	overflow: hidden;
}

.library_switch_text {
	width: 104px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 15px;
	left: 24px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;
}

.events_switch {
	width: 152px;
	height: 65px;

	opacity: 1;
	position: absolute;
	top: 0px;
	left: 492px;
	overflow: hidden;
}


.events_switch_head {
	width: 152px;
	height: 62px;
	background: rgba(255, 48, 48, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	overflow: hidden;
}

.events_switch_bot {
	width: 152px;
	height: 31px;
	background: rgba(255, 48, 48, 1);
	opacity: 1;
	position: absolute;
	top: 31px;
	left: 1px;
	overflow: hidden;
}

.events_switch_text {
	width: 93px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 15px;
	left: 30px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;
}

.loginDiv {
	width: 186px;
	height: 69px;

	padding: 12px 20px;
	margin: 10px;
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 1270px;
	/* border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px; */
	overflow: hidden;
}

.loginBut {
	width: 180px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 12px;
	left: 20px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: center;

}

/* footer */

footer {
	font-size: 14px;
}

.footer_content {
	width: 100%;
	height: 196px;

	opacity: 1;
	position: absolute;
	top: 2200px;
	left: 0px;
	overflow: hidden;
}

.footer_background {
	width: 100%;
	height: 196px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.Contact {
	width: 579px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 32px;
	left: 45px;
	font-family: JejuGothic;
	font-weight: Regular;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.footer_face {
	width: 154px;
	height: 119px;

	opacity: 1;
	position: absolute;
	top: 43px;
	left: 1324px;
	overflow: hidden;
}

.footer_mouse {
	width: 108px;
	height: 99px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 23px;
	border-radius: 50%;
}

.footer_noth {
	width: 113px;
	height: 53px;

	opacity: 1;
	position: absolute;
	top: 19px;
	left: 20px;
	overflow: hidden;
}

.footer_botface {
	width: 113px;
	height: 53px;
	background: rgba(244, 206, 9, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.left_eye_footer {
	width: 47px;
	height: 46px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
}

.right_eye_footer {
	width: 47px;
	height: 46px;
	background: rgba(0, 0, 0, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 107px;
	border-radius: 50%;
}

/* animation */
.cartoon img {

	height: 30%;
	width: 15%;
	position: absolute;
	z-index: 99999;

}

#cartoonRight img {
	top: 0%;
	left: -250px;
	animation-name: cartoonRight;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 99999;
}

#cartoonLeft img {
	top: 50%;
	left: 100%;
	animation-name: cartoonLeft;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 99999;
}

@keyframes cartoonRight {
	0% {
		top: 10%;
		left: -250px;

	}

	100% {

		left: 100%;
		top: 40%;

	}


}

@keyframes cartoonLeft {
	0% {
		top: 30%;
		left: 100%;

	}

	100% {
		top: 10%;
		left: -250px;
	}

}