.monalisa-backg {
    background: url("background.jpg");
    background-size: cover;
}
.starrynight-backg {
    background: url("background.jpg");
    background-size: cover;
}

/*front page*/
.frontpage-backg {
    min-height: 100%;
    background: url("frontdoor.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.doordiv {
    display: flex;
}
.door {
    justify-content: center;
    display: block;
    margin-left: 37%;
    margin-top: 17%;
    margin-right: auto;
    width: auto;
    height: 70%;
    position: absolute;
    opacity: 1;
}
.door:hover {
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*instructions page*/
.instructions-backg {
    min-height: 100%;
    background: url("painter.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.instructions-text {
    margin-left: 35%;
    margin-top: 11%;
    font-family: 'Charmonman', cursive;
    font-size: 1.75vw;
}

.arrowfins {
    position: fixed; left: 82%; top: 40%;
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
}

/*mona lisa painting*/
header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center
} 
header .monalisawrap {
    position: absolute; top: 30%;
    padding-top:15px;
    width: 40%;
    display:flex;
    justify-content:center;
    align-items:center
}
header .monalisawrap:after {
    margin-top: 80%;
    font-size: 2em;
    content: '';
    white-space: nowrap;
    overflow: hidden;
    flex-grow:0;
    max-width:0px;
    transition: 1s cubic-bezier(.4,0,.2,1);
    margin: 0 .5rem;
}
header .monalisawrap:hover:after {
    max-width:300px;
}
header .monalisaimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .monalisaimg img {
    margin-top: 80%;
    width:200px;
    height: auto;
}

/*purchase button*/
.purchase {
    position: absolute; left: 80%; top: 20%;
    font-family: 'Inter';
}
.purchasebutton {
    padding: 15px 25px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(21, 58, 80);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.purchasebutton:hover {background-color: rgb(47, 82, 134)}
.purchasebutton:active {
    background-color: rgb(47, 82, 134);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#money {
    font-size: 1.3em;
}
#cost {
    font-size: 1.3em;
}

/*prev next arrows*/
.homeicon {
    position: absolute; left: 10%; top: 80%;
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}
.arrowb {
    transform: rotate(180deg);
    position: absolute; left: 25%; top: 60%;
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
}
.arrowf {
    position: absolute; left: 70%; top: 60%;
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
}

/*starry night*/
header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center
} 
header .starrynightwrap {
    padding-top:15px;
    width: 40%;
    display:flex;
    justify-content:center;
    align-items:center
}
header .starrynightwrap:after {
    font-size: 2em;
    content: 'The Starry Night';
    white-space:nowrap;
    overflow:hidden;
    flex-grow:0;
    max-width:0px;
    transition: 1s cubic-bezier(.4,0,.2,1);
    margin: 0 .5rem;
}
header .starrynightwrap:hover:after {
    max-width:300px;
}
header .starrynightimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .starrynightimg img {
    margin-top: 60%;
    width:253px;
    height:200px;
}

/*mona lisa info page*/
.monalisainfo-backg {
    background-color: beige;
}
.infopagehead{
	position:fixed;
	top:0; left:0; right:0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: beige;
	padding: 2rem 9%;
}
.infopagehead .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:white;
}
.infopagehead h1{
    position: absolute; left: 16%; top: 22%;
    color: black;
    font-family: 'Inter';  
}
.homeiconinfo {
    position: absolute; left: 80%; top: 36%;
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}
.arrowbinfo {
    transform: rotate(180deg);
    position: absolute; left: 70%; top: 35%;
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
}

.monalisainfoimg {
    margin-top: 18%;
    margin-left: 14%;
    width:200px;
    height: auto;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
}
.monalisainfoimg:hover{
	transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.mldescription {
    position: absolute; top: 35%; left: 50%;
    max-width: 500px;
    font-size: 1.1em;
    font-family: 'Inter';  
    color: black;
}

.backimg {
    position: absolute; top: 22%; left: 40%;
    background-color: azure;
    width: 60%;
    height: 78%;
    z-index: -10;
}

/*starry night info page*/
.monalisainfo-backg {
    background-color: beige;
}
.infopagehead{
	position:fixed;
	top:0; left:0; right:0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: beige;
	padding: 2rem 9%;
}
.infopagehead .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:white;
}
.infopagehead h1{
    position: absolute; left: 16%; top: 22%;
    color: black;
    font-family: 'Inter';  
}
.homeiconinfo {
    position: absolute; left: 80%; top: 36%;
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
}
.arrowbinfo {
    transform: rotate(180deg);
    position: absolute; left: 70%; top: 35%;
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
}

.starrynightinfoimg {
    margin-top: 18%;
    margin-left: 10%;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
}
.starrynightinfoimg:hover{
	transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.sndescription {
    position: absolute; top: 35%; left: 50%;
    max-width: 500px;
    font-size: 1.1em;
    font-family: 'Inter';  
    color: black;
}
.backimg {
    position: absolute; top: 22%; left: 40%;
    background-color: azure;
    width: 60%;
    height: 78%;
    z-index: -10;
}
